/* Results container */

.results-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;

  gap: 0.5rem;
  padding: 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Card container */

.card-cont {
  width: 200px;
  height: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.2rem;
  border-radius: 20px;
  border: 1px solid #000;
  text-align: center;
}

.card-img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.card-body {
  padding: 10px;
}
